.lui-modal-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1000;  /*? needs furhter audjustments  */
    display: flex;
    align-items: center;
    justify-content: center;
}

.lui-modal-background-plate {
    background: hsla(0, 0%, 0%, 0.3);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    cursor: pointer;
}

.lui-modal-cotent{
    position: relative;
    max-height: 70vh;
    max-width: 80vw;
    overflow-y: scroll;
}

@media screen and (min-width: 640px) {
}
@media screen and (min-width: 768px) {
    .lui-modal-cotent{
        max-width: 50vw;
    }
}
@media screen and (min-width: 1024px) {
}
@media screen and (min-width: 1280px) {
}
@media screen and (min-width: 1536px) {
}



