.border-radius-none {
    border-radius: 0;
}

.border-radius-sm {
    border-radius: 1rem;
}
.border-radius-md {
    border-radius: 2rem;
}
.border-radius-lg {
    border-radius: 3rem;
}
.border-radius-full {
    border-radius: 100%;
}
