.lui-modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 1000;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.1);
}

.lui-modal-content {
    position: relative;
    cursor: auto;
}

.lui-close-button {
    position: absolute;
    top: 2px;
    right: 2px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.lui-close-button::before,
.lui-close-button::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 2px;
    background-color: #000;
    transform-origin: 50% 50%;
}

.lui-close-button::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.lui-close-button::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

@media screen and (max-width: 1536px) {
}
@media screen and (max-width: 1280px) {
}
@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 768px) {
    .lui-modal {
        display: block;
    }
    .lui-modal-content {
        position: absolute;
        bottom: 0;
        height: auto;
        max-height: 80vh;
        width: 100%;
    }
    .lui-close-button {
        display: none;
    }
}
@media screen and (max-width: 640px) {
}
