.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    cursor: pointer;
    padding: 0;
    margin: 0;
    border: none;
}

.button_disabled {
    cursor: default;
}

.button:hover:not(.button_disabled) {
    filter: brightness(90%);
}
